openapi: 3.1.0
info:
  title: PDCP agents Payment API
  version: '1.0'
  summary: ProjectDiscovery Cloud Platform
  description: For more details, checkout https://docs.projectdiscovery.io/api-reference/editor/scan
servers:
- url: https://api.projectdiscovery.io
  description: Production
- url: https://api.dev.projectdiscovery.io
  description: Development
- url: http://localhost:8085
  description: Localhost
security:
- X-API-Key: []
tags:
- name: Payment
paths:
  /v1/payment/stripe/invoices:
    get:
      summary: Get a list of invoices for a customer
      operationId: get-v1-payment-stripe-invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/InvoiceItem'
                required:
                - data
        '400':
          $ref: '#/components/responses/MessageResponse'
        '401':
          $ref: '#/components/responses/MessageResponse'
        '500':
          $ref: '#/components/responses/MessageResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - X-API-Key: []
      tags:
      - Payment
components:
  responses:
    ErrorResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            required:
            - message
            properties:
              message:
                type: string
              kind:
                type: string
              code:
                type: string
              error:
                type: string
              error_id:
                type: string
              param:
                type: string
              status:
                type: integer
    MessageResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            required:
            - message
            properties:
              message:
                type: string
  schemas:
    InvoiceItem:
      description: Example response
      type: object
      required:
      - invoice_number
      - amount
      - paid_on
      - status
      - invoice_url
      properties:
        invoice_number:
          type: string
          description: The invoice number
        amount:
          type: integer
          format: int64
          description: Total amount of the invoice in USD
        paid_on:
          type: string
          format: date-time
          nullable: true
          description: The date when the invoice was paid
        status:
          type: string
          description: The status of the invoice
        invoice_url:
          type: string
          format: uri
          description: URL to view the invoice
  securitySchemes:
    X-API-Key:
      name: X-API-Key
      type: apiKey
      in: header
x-internal: false
