openapi: 3.1.0
info:
  title: PDCP agents stats API
  version: '1.0'
  summary: ProjectDiscovery Cloud Platform
  description: For more details, checkout https://docs.projectdiscovery.io/api-reference/editor/scan
servers:
- url: https://api.projectdiscovery.io
  description: Production
- url: https://api.dev.projectdiscovery.io
  description: Development
- url: http://localhost:8085
  description: Localhost
security:
- X-API-Key: []
tags:
- name: stats
paths:
  /v1/scans/{scan_id}/scan_log/stats:
    parameters:
    - schema:
        type: string
      name: scan_id
      in: path
      required: true
    get:
      summary: Get scan log stats of given scan id
      tags:
      - stats
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  info_count:
                    type: integer
                    format: int64
                  error_count:
                    type: integer
                    format: int64
                  total_count:
                    type: integer
                    format: int64
                  matched_count:
                    type: integer
                    format: int64
                  unmatched_count:
                    type: integer
                    format: int64
                required:
                - info_count
                - error_count
                - total_count
                - matched_count
                - unmatched_count
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-scans-id-scan-log-stats
      parameters:
      - schema:
          type: integer
          format: int64
        in: query
        name: rescan_count
      - schema:
          type: string
        in: query
        name: host
        description: target to search in log
      - schema:
          type: string
        in: query
        name: template
        description: template to search in log
      - schema:
          type: string
        in: query
        name: matched
        description: status to search in log
      - schema:
          type: string
          format: date-time
        in: query
        name: time
        description: time to filter the logs
      - schema:
          type: string
        in: query
        name: search
        description: string to search in error, target and template
      - schema:
          type: string
        in: query
        name: error
        description: error to search in log
      - schema:
          type: string
          enum:
          - error
          - info
          - all_logs
          default: all_logs
          x-go-type: ScanLogExportSeverityTypes
        in: query
        name: severity
components:
  responses:
    ErrorResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            required:
            - message
            properties:
              message:
                type: string
              kind:
                type: string
              code:
                type: string
              error:
                type: string
              error_id:
                type: string
              param:
                type: string
              status:
                type: integer
  securitySchemes:
    X-API-Key:
      name: X-API-Key
      type: apiKey
      in: header
x-internal: false
