openapi: 3.1.0
info:
  title: PDCP agents billing API
  version: '1.0'
  summary: ProjectDiscovery Cloud Platform
  description: For more details, checkout https://docs.projectdiscovery.io/api-reference/editor/scan
servers:
- url: https://api.projectdiscovery.io
  description: Production
- url: https://api.dev.projectdiscovery.io
  description: Development
- url: http://localhost:8085
  description: Localhost
security:
- X-API-Key: []
tags:
- name: billing
paths:
  /v1/billing-cycles:
    get:
      summary: Get the monthly billing cycle dates
      tags:
      - billing
      responses:
        '200':
          $ref: '#/components/responses/BillingCycleResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      operationId: get-v1-billing-cycles
      parameters:
      - schema:
          type: string
        in: header
        description: 'Retrieve the Team ID from: https://cloud.projectdiscovery.io/settings/team'
        name: X-Team-Id
components:
  schemas:
    BillingCycle:
      title: BillingCycle
      type: object
      required:
      - id
      - start_date
      - end_date
      - unique_asset_count
      properties:
        id:
          type: integer
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        unique_asset_count:
          type: integer
  responses:
    BillingCycleResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            required:
            - cycles
            properties:
              cycles:
                type: array
                items:
                  $ref: '#/components/schemas/BillingCycle'
    ErrorResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            required:
            - message
            properties:
              message:
                type: string
              kind:
                type: string
              code:
                type: string
              error:
                type: string
              error_id:
                type: string
              param:
                type: string
              status:
                type: integer
  securitySchemes:
    X-API-Key:
      name: X-API-Key
      type: apiKey
      in: header
x-internal: false
